$header-height = 40px

#header
  //background-color: $theme
  background-color: rgb(101, 36, 43)
  height: $header-height
  padding: $heading-padding-vertical 60px
  position: relative
  z-index: 2

body.docs
  #header
    position: fixed
    width: 100%
    top: 0
    left: 0
    right: 0
    bottom: 0
    padding: 10px
  #nav
    position: fixed
  #logo
    margin-left: 20px
    margin-right: 20px
  #logo span
    font-size: 1.2em
  #logo img
    margin-top: -6px
  #mobile-bar::before
    content: attr(data-bg-text)
    text-align: center
    color: #fff
    display: block
    line-height: 1
    position: absolute
    margin-top: 12px
    font-size: 2em
    width: 100%

#nav
  list-style-type: none
  margin: 0
  padding: 0
  position: absolute
  right: 30px
  top: $heading-padding-vertical
  height: $header-height
  line-height: $header-height
  .break
    display: none
  li
    display: inline-block
    position: relative
    margin: 0 .6em
    margin-right: 30px

  .nav-dropdown
    .nav-link
      &:hover, &.current
        border-bottom: none
      &.current
        &::after
          content: ""
          width: 0
          height: 0
          border-left: 5px solid $theme
          border-top: 3px solid transparent
          border-bottom: 3px solid transparent
          position: absolute
          top: 50%
          margin-top: -4px
          left: 8px

.nav-link
  padding-bottom: 3px
  &:hover, &.current
    border-bottom: 3px solid $theme
  &.team
    margin-left: 10px

.new-label
  position: absolute
  top: 3px
  left: 110%
  background-color: $theme
  color: #fff
  line-height: 16px
  height: 16px
  font-size: 9px
  font-weight: bold
  font-family: $code-font
  padding: 1px 4px 0 6px
  border-radius: 4px


#nav
  .nav-link
    color: #fff
    // cursor: pointer
  /* 这是一个容器，包含下拉菜单逻辑和样式：*/
  .nav-dropdown-container
    .nav-link
      /*当鼠标悬停在非当前链接上时，取消底部边框样式。*/
      &:hover:not(.current)
        border-bottom: none
    /*当鼠标悬停在下拉菜单容器上时，将其内容显示（display: block）。*/
    &:hover
      .nav-dropdown
        display: block
    &.language, &.ecosystem
      margin-left: 20px
    /*为箭头图标禁用点击事件（pointer-events: none）*/
    .arrow
      pointer-events: none
  /*这是导航的下拉菜单部分*/
  .nav-dropdown
    display: none
    box-sizing: border-box
    /*
    最大高度：max-height: calc(100vh - %s)，
    这里 %s 是 $header-height 的动态值，确保高度不会超出视口
    */
    max-height: "calc(100vh - %s)" % $header-height
    /*开启垂直滚动*/
    overflow-y: auto
    /*绝对定位, 位置相对于父级元素*/
    position: absolute
    /*顶部距离：top: 100%，确保菜单紧贴导航条底部。*/
    top: 100%
    /*向右偏移：right: -15px。*/
    right: -15px
    background-color: $theme
    padding: 2px 0
    border: 1px solid #fff
    /* border-bottom-color: $theme */
    text-align: left
    border-radius: 4px
    white-space: nowrap
    /*定义列表项的样式*/
    li
      line-height: 1.8em
      /*移除列表项的外边距*/
      margin: 0
      display: block
      > ul
        padding-left: 0
      &:first-child
        h4
          margin-top: 0
          padding-top: 0
          border-top: 0
    a, h4
      padding: 0 14px 0 14px
    h4
      margin: .45em 0 0
      padding-top: .45em
      border-top: 1px solid #eee
    a
      color: #fff
      font-size: .9em
      display: block
      &:hover
        color: $yellow
  .arrow
    display: inline-block
    vertical-align: middle
    margin-top: -1px
    margin-left: 6px
    margin-right: -14px
    width: 0
    height: 0
    border-left: 4px solid transparent
    border-right: 4px solid transparent
    border-top: 5px solid #fff

#logo
  display: inline-block
  font-size: 1.5em
  line-height: $header-height
  color: #fff
  font-family: $logo-font
  font-weight: 500
  img
    vertical-align: middle
    margin-right: 6px
    height: $header-height
    border-radius: 2px;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.4);
    overflow:hidden;
#mobile-bar::before
  content: attr(data-bg-text)
  text-align: center
  color: #fff
  display: block
  line-height: 1
  position: absolute
  margin-top: 12px
  font-size: 2em
  width: 100%
#mobile-bar
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 50px
  background-color: $theme;
  z-index: 100
  display: none
  box-shadow: 0 0 2px rgba(0,0,0,.25)
  font-size: 0.9em
  .menu-button
    position: absolute
    width: 24px
    height: 24px
    top: 14px
    left: 12px
    background: url(../assets/menu.png) center center no-repeat
    background-size: 24px
  .logo
    position: absolute
    width: 25px
    height: 30px
    background: url(../assets/cover-2nd-en-logo.png) center center no-repeat
    background-size: auto 100%
    top: 12px
    right: 12px
    margin-left: -15px
