@import "_settings"
/*123456*/
.sidebar
  position: fixed
  z-index: 10
  top: $header-height
  left: 74px
  bottom: 0
  overflow-x: hidden
  overflow-y: auto
  -webkit-overflow-scrolling: touch
  -ms-overflow-style: none
  h2
    margin-top: .2em
  ul
    list-style-type: none
    margin: 0
    line-height: 1.5em
    padding-left: 1em
  li
    margin-top: .5em
  .sidebar-inner
    width: 240px
    padding: $content-padding-top + 10px 20px 60px 30px
  .version-select
    vertical-align: middle
    margin-left: 5px
  .menu-root
    padding-left: 0
  .menu-sub
    font-size: .85em
  .sidebar-link
    color: #9C9386
    &.current
      font-weight: 600
      color: #D2818A
    &.new
      &:after
        content: "NEW"
        display: inline-block
        font-size: 10px
        font-weight: 600
        color: #fff
        background-color: $theme
        line-height: 14px
        padding: 0 4px
        border-radius: 3px
        margin-left: 5px
        vertical-align: middle
        position: relative
        top: -1px
    &:hover
      border-bottom: 2px solid $theme
  .section-link
    &.active
      font-weight: bold
      color: #d2818a
  .main-menu
    margin-bottom: 20px
    display: none
    padding-left: 0
  .nav-dropdown
    h4
      font-weight: normal
      margin: 0
/*!1234*/
/*!1333*/
.shell
  box-sizing: border-box;
  position: fixed;
  width: 84px;
  left: 0;
  height: 100%;
  background: #000000;
  z-index: 9999;
  transition: width 0.5s;
  padding-left: 10px;
  overflow: hidden;
  /* 悬停改变宽度 */
  &:hover 
    width: 300px;
  ul
    position: relative;
    height: 100vh;
  li
    position: relative;
    padding: 5px;
  //类
  .imageBox
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    // 标签
    img
      width: 100%;
      height: 100%;
      object-fit: cover;
  .active
    background: rgb(34, 37, 39);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  .active
    &:before, &:after
      content: ""
      position: absolute
      width: 30px
      height: 30px
      border-bottom-right-radius: 25px
      background: transparent
    &:before
      top: -30px
      right: 0
      box-shadow: 5px 5px 0 5px rgb(34, 37, 39);

    &:after
      bottom: -30px
      right: 0
      box-shadow: 5px -5px 0 5px rgb(34, 37, 39);


/*1*/
@media screen and (max-width: 900px)
  .sidebar
    position: fixed
    z-index: 10
    background-color: #f9f9f9
    height: 100%
    top: 0
    left: 0
    box-shadow: 0 0 10px rgba(0,0,0,.2)
    transition: all .4s cubic-bezier(0.4, 0, 0, 1)
    -webkit-transform: translate(-280px, 0)
    transform: translate(-280px, 0)
    .sidebar-inner
      padding: 50px 10px 10px 20px
      box-sizing: border-box
    .sidebar-inner-index
      padding: 80px 40px 10px 30px
      box-sizing: border-box
    .main-menu
      display: block
    &.open
      -webkit-transform: translate(0, 0)
      transform: translate(0, 0)

        