body
  font-family: Arial, sans-serif
  background-color: #202322
  color: rgb(174, 194, 211)
a
  color: rgb(156, 147, 134)
h2
	margin: 20dp
//   
  /* 文字 未选中的小标题 rgb(174, 194, 211) */
  /* 选中的标题 rgb(210, 129, 138) */
  /* 未选中的标题 rgb(156, 147, 134) */