<!-- index -->

<div class="index">


	<p>
		index.ejs
		
		main
		主页
	</p>
	<div class="centor">
		<div class="logo">
			<img src="./assets/fish.jpg">
		</div>
		<div class="right">
			<p style="font-size: 3.2em;">现代 C++ 教程</p>
			<p>
				 <a class="button white" href="page">page</a>
				 <a class="button white" href="title01">page1</a>
			</p>
			<a class="button white" href="title02">page2</a>
			<a class="button white" href="list-pages">list</a>
			<!-- <%= myHelper() %> -->
		</div>
	</div>

</div>


<!-- index -->