
<!-- layout -->
<% console.log('----') %>
<% console.log('pag:'+ page.path) %>

<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= page.title %></title>
		<!-- 引入自定义 CSS 文件 -->
<link rel="stylesheet" href="<%= url_for('css/styl.css') %>">
<body>

	layout.ejs
	<!-- body -->
	<!-- 替换 post.ejs/index.ejs -->
	<%- body %>
	<!-- body -->

	<script src="<%- url_for("js/init.js") %>"></script>
</body>
</html>
<!-- layout -->