<!-- post -->
<div class="post">


	<div class="sidebar">
		<%- generateTocLinks() %>
	</div>
	<!-- page.content -->
	 <div class="content">
		 <%- page.content %>
	</div>
	<!-- page.content -->

	<%- generateToc() %>

	  
</div>
<!-- post -->
  